body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    background-color: rgb(27, 24, 65);
}

form{
    color: aliceblue;
    width: 500px;
    background-color: rgb(47, 47, 47);
    padding: 50px;
}