<header>
    <nav>
        
        <a href="/Products">Productos</a>
        
        <a href="/shoppingcart">Carrito</a>
        
        <img src="./assets/logobb.png" alt="">
        <a href="/bills">Facturas</a>

        <a href="/Logout">Cerrar Sesion</a>

    </nav>
</header>